<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Shapeshift &mdash; </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	

</head>

<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<%- include('../partial/upper_nav') -%>
            <%- include('../partial/flash.ejs') -%>
				<div class="top-menu">
					<div class="container">
						<div class="row">
							<div class="col-xs-2">
								<div id="fh5co-logo"><a href="home">Shapeshift</a></div>
							</div>
							<div class="col-xs-10 text-right menu-1">
								<ul>
									<li><a href="home">Home</a></li>
									<li ><a href="gallery">Gallery</a></li>
									<li><a href="trainer">Trainer</a></li>
									<li><a href="pricing">Pricing</a></li>
									<li class="active">
										<a href="blog">Blog</a>
									</li>
									<li><a href="contact">Contact</a></li>
									<!-- <li class="btn-cta"><a href="#"><span>Login</span></a></li> -->
								</ul>
							</div>
						</div>

					</div>
				</div>
		</nav>


		<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
			style="background-image:url(images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>Blog</h1>
								<p><a href="addblog" class="btn btn-primary">ADD BLOG</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>


		<div id="fh5co-blog" class="fh5co-bg-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
						<h2>Recent Blogs</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
							provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>

				<div  style="display: flex; flex-wrap: wrap;" class="row row-bottom-padded-md">
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="images/banana.jpg" alt=""></a>
							<div class="blog-text">
								<h3><a href="" #>Is banana good for weight loss?</a></h3>
								<span class="posted_on">Sep. 15th</span>
								<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
								<div id="blog_para">
								<p>Bananas Are A Healthful Addition To A Balanced Diet For Weight Loss, As They Provide
									A Range Of Vital Nutrients And Are A Good Source Of Fiber. Bananas Make An Excellent
									Snack Food, Dessert Or Breakfast. Their Versatility Makes Them Easy To Add To Your
									Diet Plan For Weight Loss."There is absolutely nothing wrong with eating bananas as
									a part of a balanced diet rich in whole foods.
								</p>
							</div>
								<a href="#" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="images/guava.jpeg" alt=""></a>
							<div class="blog-text">
								<h3><a href="" #>One of the most protein-rich fruits around-Guava</a></h3>
								<span class="posted_on">Sep. 15th</span>
								<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
								<div id="blog_para">
								<p>Guava is one of the most protein-rich fruits around. You’ll get a whopping 4.2 grams
									of the stuff in every cup. This tropical fruit is also high in vitamin C and fiber.
									You can even eat the seeds and
									skin, so there’s nothing to clean up!.A full 1-cup serving of guava provides 112
									calories and over 23 grams of carbohydrates.A full 1-cup serving of guava provides
									112 cal and over 23 grams of carb..The glycemic index of guava is
									12-24, which is very low for fruit.</p>
								</div>
								<a href="#" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="images/sugarcane.jpg" alt=""></a>
							<div class="blog-text">
								<h3><a href="" #>Is Sugarcane Juice Good for Weight Loss?</a></h3>
								<span class="posted_on">Sep. 15th</span>
								<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
								<div id="blog_para">
								<p>Not only is sugarcane good for weight loss, but it also contains vital minerals
									essential for post-workout hydration.

									These minerals include calcium, copper, magnesium, manganese, zinc, iron and
									potassium. Therefore, sugarcane juice is an excellent alternative to artificial
									energy drinks and post-workout energy bars.

									A study shows sugarcane juice is equally effective as commercial sports drinks
									during exercise. Moreover, it is a more effective rehydration drink.
								</p>
							</div>
								<a href="#" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>


					<!-- start -->

					<% for(let item of blogs){%>
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src= " <%= item.url%> " alt="blog image"></a>
							<div class="blog-text">
								<h3><a href="" #><%= item.title %></a></h3>
								<span class="posted_on"><p> <%= item.date %></p></span>
								<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>

								<div id="blog_para">
									<p>
										<%= item.blog_txt %></p>

								</div>
								<br>
								<a href=`/readblog/ ${item._id}` class="btn btn-primary">Read More</a>
								<% if(currentusermail ==item.usermail) {%>
								<a href="/updateblog/<%=item._id%>` class="btn btn-primary">update</a>
								<% }%>

							</div>
						</div>
					</div>
					<%}%>


					<!-- //enddddd -->

				</div>
			</div>
		</div>

		<div id="fh5co-started" class="fh5co-bg" style="background-image: url(images/img_bg_3.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center">
						<h2>Fitness Classes this Summer <br> <span> Pay Now and <br> Get <span
									class="percent">35%</span> Discount</span></h2>
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center">
						<p><a href="#" class="btn btn-default btn-lg">Become a Member</a></p>
					</div>
				</div>
			</div>
		</div>


		<footer id="fh5co-footer" class="fh5co-bg" style="background-image: url(images/img_bg_1.jpg);"
			role="contentinfo">
			<div class="overlay"></div>
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-4 fh5co-widget">
						<h3>A Little About Shapeshift.</h3>
						<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta
							adipisci architecto culpa amet.</p>
						<p><a class="btn btn-primary" href="#">Become A Member</a></p>
					</div>
					<div class="col-md-8">
						<h3>Classes</h3>
						<div class="col-md-4 col-sm-4 col-xs-6">
							<ul class="fh5co-footer-links">
								<li><a href="#">Cardio</a></li>
								<li><a href="#">Body Building</a></li>
								<li><a href="#">Yoga</a></li>
								<li><a href="#">Boxing</a></li>
								<li><a href="#">Running</a></li>
							</ul>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-6">
							<ul class="fh5co-footer-links">
								<li><a href="#">Boxing</a></li>
								<li><a href="#">Martial Arts</a></li>
								<li><a href="#">Karate</a></li>
								<li><a href="#">Kungfu</a></li>
								<li><a href="#">Basketball</a></li>
							</ul>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-6">
							<ul class="fh5co-footer-links">
								<li><a href="#">Badminton</a></li>
								<li><a href="#">Body Building</a></li>
								<li><a href="#">Teams</a></li>
								<li><a href="#">Advertise</a></li>
								<li><a href="#">API</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row copyright">
					<div class="col-md-12 text-center">
						<p>
							<!-- <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>  -->
							<small class="block">Designed by us</small>
						</p>
						<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
						</p>
					</div>
				</div>

			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>

	<!-- making anchor to make post req  -->
	<script src="js/postreq.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

</body>

</html>